.avatar{
  width: 200px;
  height: 200px;
  border-radius:100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
  margin: 10px;
}

.overlay:hover{
  background-color: rgba(0, 0, 0, 0.3);
  transition:  all .4s ease-out;
}

.overlay{
  width: 200px;
  height: 200px;
  border-radius: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.content-artists{
  display: flex;
}

.name-artists{
  font-size: 15px;
  font-weight: 700;
}